<!DOCTYPE html>
<html lang="en">

<head>
  {{>links}}
</head>

<body>
  <!--NAV BAR-->
  {{>navbar}}
<!--MAIN BODY-->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <h1>{{errorMsg}}</h1>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!--FOOTER-->
  {{>footer}}
</body>

</html>